@use "./scss/base/typography.scss" as*;
@use "./scss/base/base.scss" as*;

.calculator {
  max-width: 370px;
  margin: 1.2rem;
  margin-top: 5rem;

  .calculator__display {
    font-size: 2.5rem;
    font-family: $base-font;
    color:#36454F;
    background-image: linear-gradient(#FF8008, #FFC837 );
    border: none;
    width: 100%;
    height: 16rem; 
    border-top-left-radius: 16px;
    border-top-right-radius: 16px; 
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    justify-content: space-around;
    padding:1rem;
    padding-right:1.5rem;

    .previous-display {
      font-size: 2rem;
      color: rgb(85, 85, 85);
    }
  }
}

.calculator__buttons{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
  background-color: #FEFEFE;
  grid-row:3/8;
  grid-column:1/5;
  padding:0.5rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  height:29rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  .calc__button {
    border-radius: 56px;
    border-style: hidden;
    color:#36454F;
    background-color: #F5F5F5;
    font-family: $base-font;
    font-weight: 500;
    font-size:large;
    line-height: 25%;
    width: 2.5rem;
    padding: 2.2rem;
    height: 2.5rem;
    text-indent: -0.28rem;
    

    &--operator {
      background-color: #FFDB82;
    }

    &--equals{
      background-color: #FFC021;
    }

    &--zero {
      grid-column: span 2;
      min-width: 9.8rem;
      text-align: center;
      text-indent: 0.1rem;
    }

    &--delete {
      text-indent: -0.8rem;
    }

    &--point {
      text-indent: -0.05rem;
      line-height: 05%;
    }
  }
}  