@use "./scss/base/typography.scss" as*;
@use "./scss/base/base.scss" as*;
@use "./scss/abstracts/mixins.scss" as*; 

.calculator {
  @media screen and (max-width:700px){
  max-width: 370px;
  position: fixed;
  @include center-element(90%);
  margin-left: 1.2rem;
  margin-right: -1.2rem;
  margin-top: 3rem;
  }

  @media screen and (min-width:700px){
    max-width: 370px;
    position: fixed;
    @include center-element(90%);
    margin-left: 25%;
    margin-top: 25%;
  }

  @media screen and (min-width:1000px){
    max-width: 370px;
    position: fixed;
    @include center-element(90%);
    margin-left: 50%;
    margin-top: 20%;
  }
  

  .calculator__display {
    font-size: 2.5rem;
    font-family: $base-font;
    color:#36454F;
    background-image: linear-gradient(#FF8008, #FFC837 );
    border: none;
    width: 100%;
    height: 16rem; 
    border-top-left-radius: 16px;
    border-top-right-radius: 16px; 
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    justify-content: space-around;
    padding:1rem;
    padding-right:1.5rem;
    position: relative;

    .previous-display {
      font-size: 2rem;
      color: rgb(85, 85, 85);
    }
  }
}
//
.switch {
  position: absolute;
  top:200px;
  left:20px;
  width: 54px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#F5F5F5;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 48px
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #FFC021;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 48px;
}

input:checked + .slider {
  background-color: grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFDB82;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  border-radius: 50%;
}

//
.calculator__buttons{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
  background-color: #FEFEFE;
  grid-row:3/8;
  grid-column:1/5;
  padding:0.5rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  height:29rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  .calc__button {
    border-radius: 56px;
    border-style: hidden;
    color:#36454F;
    background-color: #F5F5F5;
    font-family: $base-font;
    font-weight: 500;
    font-size:large;
    line-height: 25%;
    width: 2.5rem;
    padding: 2.2rem;
    height: 2.5rem;
    text-indent: -0.28rem;
    

    &--operator {
      background-color: #FFDB82;
    }

    &--equals{
      background-color: #FFC021;
    }

    &--zero {
      grid-column: span 2;
      min-width: 9.8rem;
      text-align: center;
      text-indent: 0.1rem;
    }

    &--clear {
      color: #FFC021;
      font-weight: 525;
    }

    &--delete {
      text-indent: -0.8rem;
    }

    &--point {
      text-indent: -0.05rem;
      line-height: 05%;
    }
  }
}  