@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #36454F;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .calculator {
    max-width: 370px;
    position: fixed;
    width: 90%;
    margin: 1rem;
    margin-left: 1.2rem;
    margin-right: -1.2rem;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 700px) {
  .calculator {
    max-width: 370px;
    position: fixed;
    width: 90%;
    margin: 1rem;
    margin-left: 25%;
    margin-top: 25%;
  }
}
@media screen and (min-width: 1000px) {
  .calculator {
    max-width: 370px;
    position: fixed;
    width: 90%;
    margin: 1rem;
    margin-left: 50%;
    margin-top: 20%;
  }
}
.calculator .calculator__display {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: #36454F;
  background-image: linear-gradient(#FF8008, #FFC837);
  border: none;
  width: 100%;
  height: 16rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 1rem;
  padding-right: 1.5rem;
}
.calculator .calculator__display .previous-display {
  font-size: 2rem;
  color: #555555;
}

.calculator__buttons {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  background-color: #FEFEFE;
  grid-row: 3/8;
  grid-column: 1/5;
  padding: 0.5rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  height: 29rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.calculator__buttons .calc__button {
  border-radius: 56px;
  border-style: hidden;
  color: #36454F;
  background-color: #F5F5F5;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: large;
  line-height: 25%;
  width: 2.5rem;
  padding: 2.2rem;
  height: 2.5rem;
  text-indent: -0.28rem;
}
.calculator__buttons .calc__button--operator {
  background-color: #FFDB82;
}
.calculator__buttons .calc__button--equals {
  background-color: #FFC021;
}
.calculator__buttons .calc__button--zero {
  grid-column: span 2;
  min-width: 9.8rem;
  text-align: center;
  text-indent: 0.1rem;
}
.calculator__buttons .calc__button--delete {
  text-indent: -0.8rem;
}
.calculator__buttons .calc__button--point {
  text-indent: -0.05rem;
  line-height: 5%;
}